*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

/* Common */

a {
    text-decoration: none;
}

.section-heading {
    font-size: 5.6rem;
    color: #000;
    font-weight: 500;
    line-height: 1.18;
    /* letter-spacing: -2.24px; */
}

.desc,
.btn {
    line-height: 1.67;
}

.desc {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn {
    color: var(--text-color);
    background: var(--bg-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 16px 37px;
}

.btn:hover {
    opacity: 0.6;
}

.center {
    text-align: center;
}

/************************************************************************************************** header */
.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FBFAFF;
}

.header {
    width: 1330px;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.info__icon {
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    padding: 15px 11px;
    text-align: center;
}

.info__email {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.menu__list {
    display: flex;
}

.list__item {
    color: #51586A;
    font-family: "DM Sans";
    font-size: 1.8rem;
    padding: 12px;
}

.list__item:hover {
    text-shadow: 0 1px 0 #000;
}

/************************************************************************************************** hero */
.hero {
    padding-top: 44px;
    width: 100%;
    background: #FBFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 156px;
}

.hero-media {
    position: relative;
    background: transparent;
}

.hero__decor-left {
    position: absolute;
    left: -42%;
    bottom: 0;
    z-index: 0;
}

.avatar {
    width: 514px;
    height: 705px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.hero-info {
    max-width: 500px;
}

.hero-heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero-desc {
    margin-top: 20px;
    max-width: 370px;
}

.hero-action {
    margin-top: 50px;
    display: flex;
    --bg-color: #5D3BEE;
    --text-color: #fff;
}

.hero-btn {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration-line: underline;
    background: transparent;
}

.follow {
    margin-top: 104px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__decor-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

/************************************************************************************************** client */
.client {
    margin-top: 98px;
}

.client-body {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.client-heading {
    position: relative;
    width: 253px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
    margin-left: 99px;
}

.client-heading::before {
    position: absolute;
    top: 23px;
    left: -99px;
    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background: rgba(93, 59, 238, 1);
}


.client-list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, auto);
    gap: 36px 50px;
}

/************************************************************************************************** specialities */
.specialities {
    margin-top: 133px;
}

.specialities-desc {
    display: inline-block;
    margin-top: 20px;
    max-width: 534px;
}

.specialities__list {
    margin-top: 60px;
}

.specialities__item {
    padding: 33px 42px 33px 43px;
    background: #FBFAFF;
    transition: .5s;
}

.specialities__item:hover {
    scale: 1.08;
}

.item__img {
    width: 74px;
    height: 74px;
}

.item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.item__desc {
    margin-top: 15px;
    width: 285px;
}

/************************************************************************************************** project */
.project {
    margin-top: 140px;
    width: 100%;
    background: #5D3BEE;
    padding: 86px 0;
    position: relative;
}

.project-heading,
.project-desc {
    color: #fff;
}

.project-desc {
    margin-top: 31px;
    margin-left: 160px;
    width: 370px;
    opacity: 0.7;
}

.project__list {
    margin-top: 70px;
    row-gap: 30px;
}

.project-item {
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 24px 23px 23px 34px;
}

.project-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.project-item__desc {
    margin-top: 10px;
    width: 220px;
    color: #51586A;
    line-height: 1.43;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.project-item__img {
    max-width: 246px;
    max-height: 187px;
    object-fit: cover;
    z-index: 1;
}

.project-decor {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 427.038px;
    max-height: 376.416px;
    z-index: 0;
}

.project-action {
    text-align: center;
}

.project-action {
    --tex-color: #111;
    --bg-color: #fff;
}

.project-btn {
    margin-top: 80px;
    display: inline-block;
}